<head>
    <link rel= "stylesheet" type="text/css" href="stylesheets/_form_new.css"/>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Stylish|Yatra+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung|Stylish" rel="stylesheet">
</head>



<body>
  <div class = "background2">
    <div class = "blank">
    
    </div>

  <h2 style="font-family:'Song Myung', serif; color:white;">NEW POST</h2>

  <div class="login d-flex flex-column justify-content-between">
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :post_content %>
  </div>

  <div class="field">
    <%= form.hidden_field :x, id: :post_x , step: :any, value: @lat%>
  </div>

  <div class="field">
    <%= form.hidden_field :y, id: :post_y , step: :any, value: @lng%>
  </div>


  <div class=“field_img”>
    <%= form.label :image %>
    <%= form.file_field :image, accept: "image/png,image/gif,image/jpeg" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>

</body>
<% end %>
