<!--메뉴버튼-->
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
            --------------  FOOD TRUCK & BUSKING

        </div>
    </nav>
</div>





<div class="main w-100"> 
<!--d-flex flex-row flex-nowrap-->
    <div class="wrapper p-1">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>
    
            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">로그인</a>
                </li>
                <li>
                    <a href="#">회원가입</a>
                </li>
                <li>
                    <a href="#">등록하기</a>
                </li>
                <li>
                       해시태그/키워드 검색 <input type="text" name="hashtags" placeholder="(,로 구분)">
                    <input type='submit' value='검색'>
                    <br>
                </li>
            </ul>
        </nav>
    
    </div>
    
    <div class="wrapper2">
            <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var sinchonStation = {lat: 37.55528, lng: 126.93694};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 16, center: sinchonStation});
  // The marker, positioned at Uluru
  var markers = [];

  <% @posts.each do |post| %>
    var marker = new google.maps.Marker({
      position: {lat: <%= post.x %>, lng: <%= post.y %>},
      map: map,
       title: "<%= post.title %>"
    });
    marker.addListener('click', function () {
      console.log("hi");
      $.ajax({
        url: "posts_ajax/"+<%= post.id %>
      });
    })
    // console.log(<%=post.x%>);
    marker.setMap(map);
  <% end%>

  google.maps.event.addListener(map, 'click', function(event) {
    console.log(""+event.latLng);       // 인포윈도우의 위치를 클릭한 곳으로 변경한다.
  });

}

    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWGLRafdjTCcmWEUt-tzzjQtY3-6eyqK8&callback=initMap">
    </script>

    </div>       
    
    <div class="wrapper3">
        <div class="info-by-date">
            
        </div>
        
    </div>  
        
    
    
</div>