<!--메뉴버튼-->
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
            --------------  FOOD TRUCK & BUSKING

        </div>
    </nav>
</div>





<div class="main w-100"> 
<!--d-flex flex-row flex-nowrap-->
    <div class="wrapper p-1">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="/">FoodTruck</a></h3>
            </div>
    
            <ul class="list-unstyled components">
                
                <% if user_signed_in?%>
                <li>
                  <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
                </li>
                
                <% else %>
                <li>
                    <%= link_to "로그인", new_user_session_path%>
                </li>
                <li>
                    <%= link_to "회원가입", new_user_registration_path %>
                </li>
              
                <% end%>

                <li>
                    <%= form_tag search_post_path do %>
                      <%= label_tag :q, "검색"%>
                      <%= text_field_tag :q %>
                      <%= submit_tag "찾기"%>
                    <% end%>
                </li>
            </ul>
        </nav>
    
    </div>
    
    <div class="wrapper2">
            <div id="map" style="border-radius:10%" ></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var sinchonStation = {lat: 37.55628, lng: 126.93694};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17, center: sinchonStation});
  // The marker, positioned at Uluru

  var markers = [];

  <% @posts.each do |post| %>
    var marker = new google.maps.Marker({
      position: {lat: <%= post.x %>, lng: <%= post.y %>},
      map: map,
      title: "<%= post.title %>",
      icon: {url:"<% if user_signed_in? && current_user.id == post.user_id %><%= asset_path 'foodTruck3.png'%><% else%><%= asset_path 'foodTruck2.png'%><% end%>"}
    });
    marker.addListener('click', function () {
      console.log("hi");
      $.ajax({
        url: "/posts_ajax/"+<%= post.id %>
      });
    })
    // console.log(<%=post.x%>);
    marker.setMap(map);
  <% end%>

  var beforeMarker;
  google.maps.event.addListener(map, 'click', function(event) {
    console.log("");
    var contentString = "<div><a href='/posts/new/"+event.latLng.lat().toString().replace(".","a")+"/"+event.latLng.lng().toString().replace(".","a")+"'>여기에서 장사할래요!</a></div>";
    var marker = new google.maps.Marker({
      position: event.latLng,
      map: map
    });
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    console.log("zzz");

    infowindow.open(map,marker);

  });

}
$()
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWGLRafdjTCcmWEUt-tzzjQtY3-6eyqK8&callback=initMap">
    </script>

    </div>       
    
    <div class="wrapper3">
        <div class="info-by-date">
            
        </div>
        
    </div>  
        
    
    
</div>